{{!-- Search bar --}}
<form id="search-form" action="/search" method="get">
    <input type="text" id="search" name="keyword" placeholder="Search event">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<div class="footer">
    <p>Page Counter: {{pageCounter}}</p>
    <p>Data generated from APIs by Ticketmaster, Yelp and Youtube.</p>
</div>