<form id="search-form" action="/search" method="get">
    <input type="text" id="search" name="keyword" placeholder="Search event">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<div class="no-results">
    <p>There are no upcoming music events related to "{{searchTerm}}".</p>
</div>  